CarService/src/main/resources/xsd/carService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.student.com/soap/contract"
           targetNamespace="http://www.student.com/soap/contract" elementFormDefault="qualified">
        
	<xs:complexType name="StatusType">
    	<xs:sequence>
        	<xs:element name="success" type="xs:boolean"/>
        	<xs:element name="authorized" type="xs:boolean" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Car">
    	<xs:sequence>
        	<xs:element name="id" type="xs:int" nillable="true"/>
        	<xs:element name="locationId" type="xs:int" nillable="true"/>
        	<xs:element name="locationName" type="xs:string"/>
        	<xs:element name="modelId" type="xs:int" nillable="true"/>
        	<xs:element name="modelName" type="xs:string"/>
        	<xs:element name="manufacturerId" type="xs:int" nillable="true"/>
        	<xs:element name="manufacturerName" type="xs:string"/>
        	<xs:element name="fuelTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="fuelTypeName" type="xs:string"/>
        	<xs:element name="transmissionTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="transmissionTypeName" type="xs:string"/>
        	<xs:element name="carClassId" type="xs:int" nillable="true"/>
        	<xs:element name="carClassName" type="xs:string"/>
        	<xs:element name="mileage" type="xs:int" nillable="true"/>
        	<xs:element name="mileageThreshold" type="xs:int" nillable="true"/>
        	<xs:element name="mileagePenalty" type="xs:int" nillable="true"/>
        	<xs:element name="collisionWaranty" type="xs:int" nillable="true"/>
        	<xs:element name="price" type="xs:int" nillable="true"/>
        	<xs:element name="estimatedPenaltyPrice" type="xs:int" nillable="true"/>
        	<xs:element name="discount" type="xs:int" nillable="true"/>
        	<xs:element name="totalPrice" type="xs:int" nillable="true"/>
        	<xs:element name="childSeats" type="xs:int" nillable="true"/>
        	<xs:element name="rating" type="xs:int" nillable="true"/>
        	<xs:element name="publisherId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherName" type="xs:string"/>
        	<xs:element name="publisherTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherTypeName" type="xs:string"/>
        	<xs:element name="image" minOccurs="0" maxOccurs="unbounded" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
		<xs:complexType name="NamedObject">
    	<xs:sequence>
        	<xs:element name="id" type="xs:int"/>
        	<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
           
 	<xs:element name="soapResponse">
 		<xs:complexType>
 			<xs:complexContent>
        		<xs:extension base="tns:StatusType"/>
			</xs:complexContent>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="soapCarManufacturersRequest">
     	<xs:complexType/>
    </xs:element>
    
    <xs:element name="soapAllCarModelsRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapTransmissionTypesRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapFuelTypesRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapCarClassesRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapCarModelsByManufacturerRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="manufacturerId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddCarClassRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteCarClassRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddManufacturerRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteManufacturerRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddCarModelRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="manufacturerId" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteCarModelRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddFuelTypeRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteFuelTypeRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddTransmissionTypeRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteTransmissionTypeRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddLocationRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteLocationRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapNamedObjectsResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>		
                		<xs:element name="object" type="tns:NamedObject" minOccurs="0" maxOccurs="unbounded"/>
            		</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>	
        </xs:complexType>
    </xs:element>
    
	<xs:element name="soapCarModelsResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">	
            		<xs:sequence>
                		<xs:element name="carModels">
							<xs:complexType>
            					<xs:sequence>
                					<xs:element name="carModel" minOccurs="1" maxOccurs="unbounded">
                						<xs:complexType>
                							<xs:sequence>
                								<xs:element name="modelId" type="xs:int"/>
                								<xs:element name="modelName" type="xs:string"/>
                								<xs:element name="manufacturerId" type="xs:int"/>
                								<xs:element name="manufacturerName" type="xs:string"/>
                							</xs:sequence>
                						</xs:complexType>
                					</xs:element>
           						</xs:sequence>
        					</xs:complexType>	
               		 	</xs:element>
           		 	</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    
	<xs:element name="soapCarRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="startDate" type="xs:date"/>
                <xs:element name="endDate" type="xs:date"/>
                <xs:element name="plannedMileage" type="xs:int" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapCarResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">	
            		<xs:sequence>
                		<xs:element name="car" type="tns:Car" nillable="true"/>
           		 	</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>
        </xs:complexType>
    </xs:element>
    
   	<xs:element name="soapGetImageRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapGetImageResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>    		
                		<xs:element name="id" type="xs:int"/>
                		<xs:element name="carId" type="xs:int"/>
                		<xs:element name="image" type="xs:base64Binary"/>
            		</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>	
        </xs:complexType>
    </xs:element>
       	
    <xs:element name="soapPostImageRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="carId" type="xs:int"/>
                <xs:element name="image" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapPostImageResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>    		
                		<xs:element name="imageId" type="xs:int"/>
            		</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>	
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapDeleteImageRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
   	<xs:element name="soapDeactivatePublisherRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="publisherId" type="xs:int"/>
                <xs:element name="publisherTypeId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapAddCarRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="publisherId" type="xs:int"/>
                <xs:element name="publisherTypeId" type="xs:int"/>
                <xs:element name="modelId" type="xs:int"/>
                <xs:element name="fuelTypeId" type="xs:int"/>
                <xs:element name="transmissionTypeId" type="xs:int"/>
                <xs:element name="carClassId" type="xs:int"/>
                <xs:element name="mileage" type="xs:int"/>
                <xs:element name="childSeats" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapSearchCarsRequest">
		<xs:complexType>
            <xs:sequence>
            	<xs:element name="locationId" type="xs:int"/>
            	<xs:element name="startDate" type="xs:date"/>
            	<xs:element name="endDate" type="xs:date"/>
                <xs:element name="publisherTypeId" type="xs:int" nillable="true"/>
                <xs:element name="modelId" type="xs:int" nillable="true"/>
                <xs:element name="manufacturerId" type="xs:int" nillable="true"/>
                <xs:element name="fuelTypeId" type="xs:int" nillable="true"/>
                <xs:element name="transmissionTypeId" type="xs:int" nillable="true"/>
                <xs:element name="carClassId" type="xs:int" nillable="true"/>
                <xs:element name="mileage" type="xs:int" nillable="true"/>
                <xs:element name="childSeats" type="xs:int" nillable="true"/>
                <xs:element name="minPrice" type="xs:int" nillable="true"/>
                <xs:element name="maxPrice" type="xs:int" nillable="true"/>
                <xs:element name="plannedMileage" type="xs:int" nillable="true"/>
                <xs:element name="collisionWarranty" type="xs:boolean" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapLocationsRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapSearchCarsResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>      				
                		<xs:element name="car" type="tns:Car" minOccurs="0" maxOccurs="unbounded"/>
            		</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>	
        </xs:complexType>
    </xs:element>
</xs:schema>