StudentApi/src/main/resources/wsdl/carService/carService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.student.com/soap/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.student.com/soap/contract" targetNamespace="http://www.student.com/soap/contract">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.student.com/soap/contract">
        
	<xs:complexType name="StatusType">
    	<xs:sequence>
        	<xs:element name="success" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
           
 	<xs:element name="soapResponse">
 		<xs:complexType>
 			<xs:complexContent>
        		<xs:extension base="tns:StatusType"/>
			</xs:complexContent>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="soapCarManufacturersRequest">
     	<xs:complexType/>
    </xs:element>
    
    <xs:element name="soapAllCarModelsRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapTransmissionTypesRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapFuelTypesRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapCarClassesRequest">
        <xs:complexType/>
    </xs:element>
    
    <xs:element name="soapCarModelsByManufacturerRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="manufacturerId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapNamedObjectsResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>
                		<xs:element name="namedObjects">
							<xs:complexType>
            					<xs:sequence>
                					<xs:element maxOccurs="unbounded" minOccurs="1" name="namedObject">
                						<xs:complexType>
                							<xs:sequence>
                								<xs:element name="id" type="xs:int"/>
                								<xs:element name="name" type="xs:string"/>
                							</xs:sequence>
                						</xs:complexType>
                					</xs:element>
           						</xs:sequence>
        					</xs:complexType>	
                		</xs:element>
            		</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>	
        </xs:complexType>
    </xs:element>
    
	<xs:element name="soapCarModelsResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">	
            		<xs:sequence>
                		<xs:element name="carModels">
							<xs:complexType>
            					<xs:sequence>
                					<xs:element maxOccurs="unbounded" minOccurs="1" name="carModel">
                						<xs:complexType>
                							<xs:sequence>
                								<xs:element name="modelId" type="xs:int"/>
                								<xs:element name="modelName" type="xs:string"/>
                								<xs:element name="manufacturerId" type="xs:int"/>
                								<xs:element name="manufacturerName" type="xs:string"/>
                							</xs:sequence>
                						</xs:complexType>
                					</xs:element>
           						</xs:sequence>
        					</xs:complexType>	
               		 	</xs:element>
           		 	</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    
	<xs:element name="soapCarRequest">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="startDate" type="xs:date"/>
                <xs:element name="endDate" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="soapCarResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">	
            		<xs:sequence>
                		<xs:element name="id" nillable="true" type="xs:int"/>
                		<xs:element name="modelId" nillable="true" type="xs:int"/>
                		<xs:element name="modelName" type="xs:string"/>
                		<xs:element name="manufacturerId" nillable="true" type="xs:int"/>
                		<xs:element name="manufacturerName" type="xs:string"/>
                		<xs:element name="fuelTypeId" nillable="true" type="xs:int"/>
                		<xs:element name="fuelTypeName" type="xs:string"/>
                		<xs:element name="transmissionTypeId" nillable="true" type="xs:int"/>
                		<xs:element name="transmissionTypeName" type="xs:string"/>
                		<xs:element name="carClassId" nillable="true" type="xs:int"/>
                		<xs:element name="carClassName" type="xs:string"/>
                		<xs:element name="mileage" nillable="true" type="xs:int"/>
                		<xs:element name="mileageThreshold" nillable="true" type="xs:int"/>
                		<xs:element name="mileagePenalty" nillable="true" type="xs:int"/>
                		<xs:element name="collisionWaranty" nillable="true" type="xs:int"/>
                		<xs:element name="price" nillable="true" type="xs:int"/>
                		<xs:element name="discount" nillable="true" type="xs:int"/>
                		<xs:element name="totalPrice" nillable="true" type="xs:int"/>
                		<xs:element name="childSeats" nillable="true" type="xs:int"/>
                		<xs:element name="rating" nillable="true" type="xs:int"/>
                		<xs:element name="publisherId" nillable="true" type="xs:int"/>
                		<xs:element name="publisherName" type="xs:string"/>
                		<xs:element name="publisherTypeId" nillable="true" type="xs:int"/>
                		<xs:element name="publisherTypeName" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="image" type="xs:int"/>
           		 	</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="soapAllCarModelsRequest">
    <wsdl:part element="tns:soapAllCarModelsRequest" name="soapAllCarModelsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapFuelTypesRequest">
    <wsdl:part element="tns:soapFuelTypesRequest" name="soapFuelTypesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarResponse">
    <wsdl:part element="tns:soapCarResponse" name="soapCarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarClassesRequest">
    <wsdl:part element="tns:soapCarClassesRequest" name="soapCarClassesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapTransmissionTypesRequest">
    <wsdl:part element="tns:soapTransmissionTypesRequest" name="soapTransmissionTypesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarModelsByManufacturerRequest">
    <wsdl:part element="tns:soapCarModelsByManufacturerRequest" name="soapCarModelsByManufacturerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapResponse">
    <wsdl:part element="tns:soapResponse" name="soapResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarModelsResponse">
    <wsdl:part element="tns:soapCarModelsResponse" name="soapCarModelsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarManufacturersRequest">
    <wsdl:part element="tns:soapCarManufacturersRequest" name="soapCarManufacturersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapNamedObjectsResponse">
    <wsdl:part element="tns:soapNamedObjectsResponse" name="soapNamedObjectsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRequest">
    <wsdl:part element="tns:soapCarRequest" name="soapCarRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarServicePort">
    <wsdl:operation name="soapAllCarModels">
      <wsdl:input message="tns:soapAllCarModelsRequest" name="soapAllCarModelsRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapFuelTypes">
      <wsdl:input message="tns:soapFuelTypesRequest" name="soapFuelTypesRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCar">
      <wsdl:input message="tns:soapCarRequest" name="soapCarRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarResponse" name="soapCarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarClasses">
      <wsdl:input message="tns:soapCarClassesRequest" name="soapCarClassesRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapTransmissionTypes">
      <wsdl:input message="tns:soapTransmissionTypesRequest" name="soapTransmissionTypesRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarModelsByManufacturer">
      <wsdl:input message="tns:soapCarModelsByManufacturerRequest" name="soapCarModelsByManufacturerRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soap">
      <wsdl:output message="tns:soapResponse" name="soapResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarModels">
      <wsdl:output message="tns:soapCarModelsResponse" name="soapCarModelsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarManufacturers">
      <wsdl:input message="tns:soapCarManufacturersRequest" name="soapCarManufacturersRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapNamedObjects">
      <wsdl:output message="tns:soapNamedObjectsResponse" name="soapNamedObjectsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServicePortSoap11" type="tns:CarServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="soapAllCarModels">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapAllCarModelsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapFuelTypes">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapFuelTypesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCar">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarClasses">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarClassesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapTransmissionTypes">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapTransmissionTypesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarModelsByManufacturer">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarModelsByManufacturerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soap">
      <soap:operation soapAction=""/>
      <wsdl:output name="soapResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarModels">
      <soap:operation soapAction=""/>
      <wsdl:output name="soapCarModelsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarManufacturers">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarManufacturersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapNamedObjects">
      <soap:operation soapAction=""/>
      <wsdl:output name="soapNamedObjectsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarServicePortService">
    <wsdl:port binding="tns:CarServicePortSoap11" name="CarServicePortSoap11">
      <soap:address location="http://localhost:8082/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>