ScheduleService/src/main/resources/xsd/scheduleService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.student.com/scheduleservice/soap/contract"
	targetNamespace="http://www.student.com/scheduleservice/soap/contract"
	elementFormDefault="qualified">

	<xs:complexType name="StatusType">
		<xs:sequence>
			<xs:element name="success" type="xs:boolean" />
			<xs:element name="authorized" type="xs:boolean"
				nillable="true" />

		</xs:sequence>
	</xs:complexType>

	<xs:element name="soapResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!--xs:element name="soapResponse"> <xs:complexType> <xs:complexContent> 
		<xs:extension base="tns:StatusType"/> </xs:complexContent> </xs:complexType> 
		</xs:element -->

	<xs:element name="soapAddCarPriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="carId" type="xs:int" />
				<xs:element name="priceListId" type="xs:int" />
				<xs:element name="publisherId" type="xs:int" />
				<xs:element name="publisherTypeId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapAddPriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="discountPercentage" type="xs:int" />
				<xs:element name="mileageThreshold" type="xs:int" />
				<xs:element name="mileagePenalty" type="xs:int" />
				<xs:element name="warrantyPrice" type="xs:int" />
				<xs:element name="publisherId" type="xs:int" />
				<xs:element name="publisherTypeId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapAddPriceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="startDate" type="xs:date" />
				<xs:element name="endDate" type="xs:date" />
				<xs:element name="carId" type="xs:int" />
				<xs:element name="publisherId" type="xs:int" />
				<xs:element name="publisherTypeId" type="xs:int" />
				<xs:element name="price" type="xs:int" />
				<xs:element name="priceListId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapDeleteCarPriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapDeletePriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapDeletePriceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartBundleRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="publisherId" type="xs:int" />
				<xs:element name="publisherTypeId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartUnbundleRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="publisherId" type="xs:int" />
				<xs:element name="publisherTypeId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartAddCarRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="carId" type="xs:int" />
				<xs:element name="startDate" type="xs:dateTime" />
				<xs:element name="endDate" type="xs:dateTime" />
				<xs:element name="collisionWarranty" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartRemoveCarRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
				<xs:element name="reservationId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="Car">
    	<xs:sequence>
        	<xs:element name="carId" type="xs:int" nillable="true"/>
        	<xs:element name="reservationId" type="xs:int" nillable="true"/>
        	<xs:element name="locationId" type="xs:int" nillable="true"/>
        	<xs:element name="locationName" type="xs:string"/>
        	<xs:element name="modelId" type="xs:int" nillable="true"/>
        	<xs:element name="modelName" type="xs:string"/>
        	<xs:element name="manufacturerId" type="xs:int" nillable="true"/>
        	<xs:element name="manufacturerName" type="xs:string"/>
        	<xs:element name="fuelTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="fuelTypeName" type="xs:string"/>
        	<xs:element name="transmissionTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="transmissionTypeName" type="xs:string"/>
        	<xs:element name="carClassId" type="xs:int" nillable="true"/>
        	<xs:element name="carClassName" type="xs:string"/>
        	<xs:element name="mileage" type="xs:int" nillable="true"/>
        	<xs:element name="mileageThreshold" type="xs:int" nillable="true"/>
        	<xs:element name="mileagePenalty" type="xs:int" nillable="true"/>
        	<xs:element name="warrantyIncluded" type="xs:boolean" nillable="true"/>
        	<xs:element name="totalPrice" type="xs:int" nillable="true"/>
        	<xs:element name="childSeats" type="xs:int" nillable="true"/>
        	<xs:element name="rating" type="xs:int" nillable="true"/>
        	<xs:element name="publisherId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherName" type="xs:string"/>
        	<xs:element name="publisherTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherTypeName" type="xs:string"/>
        	<xs:element name="image" minOccurs="0" maxOccurs="unbounded" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Bundle">
    	<xs:sequence>
        	<xs:element name="bundleId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherName" type="xs:string"/>
        	<xs:element name="publisherTypeId" type="xs:int" nillable="true"/>
        	<xs:element name="publisherTypeName" type="xs:string"/>
        	<xs:element name="car" type="tns:Car" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="soapCartResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
        				<xs:element name="bundle" type="tns:Bundle" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingsAndCommentsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingsAndCommentsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
						<xs:element name="comments">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="comment" minOccurs="1"
										maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="rating" type="xs:int" />
												<xs:element name="userId" type="xs:int" />
												<xs:element name="comment" type="xs:string" />
												<xs:element name="userName" type="xs:string" />
												<xs:element name="date" type="xs:dateTime" />
												<xs:element name="replies">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="reply" minOccurs="0"
																maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="publisherId"
																			type="xs:int" />
																		<xs:element name="publisherTypeId"
																			type="xs:int" />
																		<xs:element name="comment" type="xs:string" />
																		<xs:element name="publisherName"
																			type="xs:string" />
																		<xs:element name="publisherTypeName"
																			type="xs:string" />
																		<xs:element name="date" type="xs:dateTime" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
						<xs:element name="rating" type="xs:int" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPriceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="startDate" type="xs:date" />
				<xs:element name="endDate" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPriceResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
						<xs:element name="totalPrice" type="xs:int"
							nillable="true" />
						<xs:element name="discount" type="xs:int"
							nillable="true" />
						<xs:element name="price" type="xs:int" nillable="true" />
						<xs:element name="mileagePenalty" type="xs:int"
							nillable="true" />
						<xs:element name="mileageThreshold" type="xs:int"
							nillable="true" />
						<xs:element name="collisionWarranty" type="xs:int"
							nillable="true" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarAvailabilityRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="startDate" type="xs:date" />
				<xs:element name="endDate" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="soapCarAvailabilityResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPhysicalRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="carId" type="xs:int" />
				<xs:element name="startDate" type="xs:date" />
				<xs:element name="endDate" type="xs:date" />
				<xs:element name="token" type="xs:string" />
				<xs:element name="publisherId" type="xs:int" />
				<xs:element name="publisherTypeId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPhysicalResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">

					<xs:sequence>
						<xs:element name="test" type="xs:string" />
					</xs:sequence>

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>