StudentApi/src/main/resources/wsdl/scheduleService/scheduleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.student.com/scheduleservice/soap/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.student.com/scheduleservice/soap/contract" targetNamespace="http://www.student.com/scheduleservice/soap/contract">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.student.com/scheduleservice/soap/contract">

	<xs:complexType name="StatusType">
		<xs:sequence>
			<xs:element name="success" type="xs:boolean"/>
			<xs:element name="authorized" nillable="true" type="xs:boolean"/>

		</xs:sequence>
	</xs:complexType>

	<xs:element name="soapResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!--xs:element name="soapResponse"> <xs:complexType> <xs:complexContent> 
		<xs:extension base="tns:StatusType"/> </xs:complexContent> </xs:complexType> 
		</xs:element -->

	<xs:element name="soapAddCarPriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="carId" type="xs:int"/>
				<xs:element name="priceListId" type="xs:int"/>
				<xs:element name="publisherId" type="xs:int"/>
				<xs:element name="publisherTypeId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapAddPriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="discountPercentage" type="xs:int"/>
				<xs:element name="mileageThreshold" type="xs:int"/>
				<xs:element name="mileagePenalty" type="xs:int"/>
				<xs:element name="warrantyPrice" type="xs:int"/>
				<xs:element name="publisherId" type="xs:int"/>
				<xs:element name="publisherTypeId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapAddPriceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="startDate" type="xs:date"/>
				<xs:element name="endDate" type="xs:date"/>
				<xs:element name="carId" type="xs:int"/>
				<xs:element name="publisherId" type="xs:int"/>
				<xs:element name="publisherTypeId" type="xs:int"/>
				<xs:element name="price" type="xs:int"/>
				<xs:element name="priceListId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapDeleteCarPriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapDeletePriceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapDeletePriceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartBundleRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="agentId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartUnbundleRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="agentId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="soapCartAddCarRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="carId" type="xs:int"/>
				<xs:element name="startDate" type="xs:dateTime"/>
				<xs:element name="endDate" type="xs:dateTime"/>
				<xs:element name="collisionWarranty" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingsAndCommentsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingsAndCommentsResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
						<xs:element name="comments">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" minOccurs="1" name="comment">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="rating" type="xs:int"/>
												<xs:element name="userId" type="xs:int"/>
												<xs:element name="comment" type="xs:string"/>
												<xs:element name="userName" type="xs:string"/>
												<xs:element name="date" type="xs:dateTime"/>
												<xs:element name="replies">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="unbounded" minOccurs="0" name="reply">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="publisherId" type="xs:int"/>
																		<xs:element name="publisherTypeId" type="xs:int"/>
																		<xs:element name="comment" type="xs:string"/>
																		<xs:element name="publisherName" type="xs:string"/>
																		<xs:element name="publisherTypeName" type="xs:string"/>
																		<xs:element name="date" type="xs:dateTime"/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarRatingResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
						<xs:element name="rating" type="xs:int"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPriceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="startDate" type="xs:date"/>
				<xs:element name="endDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPriceResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">
					<xs:sequence>
						<xs:element name="totalPrice" nillable="true" type="xs:int"/>
						<xs:element name="discount" nillable="true" type="xs:int"/>
						<xs:element name="price" nillable="true" type="xs:int"/>
						<xs:element name="mileagePenalty" nillable="true" type="xs:int"/>
						<xs:element name="mileageThreshold" nillable="true" type="xs:int"/>
						<xs:element name="collisionWarranty" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarAvailabilityRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="startDate" type="xs:date"/>
				<xs:element name="endDate" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="soapCarAvailabilityResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPhysicalRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="carId" type="xs:int"/>
				<xs:element name="startDate" type="xs:date"/>
				<xs:element name="endDate" type="xs:date"/>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="publisherId" type="xs:int"/>
				<xs:element name="publisherTypeId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="soapCarPhysicalResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tns:StatusType">

					<xs:sequence>
						<xs:element name="test" type="xs:string"/>
					</xs:sequence>

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="soapAddPriceRequest">
    <wsdl:part element="tns:soapAddPriceRequest" name="soapAddPriceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarAvailabilityRequest">
    <wsdl:part element="tns:soapCarAvailabilityRequest" name="soapCarAvailabilityRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapAddPriceListRequest">
    <wsdl:part element="tns:soapAddPriceListRequest" name="soapAddPriceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapAddCarPriceListRequest">
    <wsdl:part element="tns:soapAddCarPriceListRequest" name="soapAddCarPriceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRatingsAndCommentsResponse">
    <wsdl:part element="tns:soapCarRatingsAndCommentsResponse" name="soapCarRatingsAndCommentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRatingsAndCommentsRequest">
    <wsdl:part element="tns:soapCarRatingsAndCommentsRequest" name="soapCarRatingsAndCommentsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarPhysicalResponse">
    <wsdl:part element="tns:soapCarPhysicalResponse" name="soapCarPhysicalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapResponse">
    <wsdl:part element="tns:soapResponse" name="soapResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapDeletePriceRequest">
    <wsdl:part element="tns:soapDeletePriceRequest" name="soapDeletePriceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarPhysicalRequest">
    <wsdl:part element="tns:soapCarPhysicalRequest" name="soapCarPhysicalRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCartBundleRequest">
    <wsdl:part element="tns:soapCartBundleRequest" name="soapCartBundleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRatingResponse">
    <wsdl:part element="tns:soapCarRatingResponse" name="soapCarRatingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarAvailabilityResponse">
    <wsdl:part element="tns:soapCarAvailabilityResponse" name="soapCarAvailabilityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCartUnbundleRequest">
    <wsdl:part element="tns:soapCartUnbundleRequest" name="soapCartUnbundleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRatingRequest">
    <wsdl:part element="tns:soapCarRatingRequest" name="soapCarRatingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCartAddCarRequest">
    <wsdl:part element="tns:soapCartAddCarRequest" name="soapCartAddCarRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarPriceRequest">
    <wsdl:part element="tns:soapCarPriceRequest" name="soapCarPriceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapDeleteCarPriceListRequest">
    <wsdl:part element="tns:soapDeleteCarPriceListRequest" name="soapDeleteCarPriceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarPriceResponse">
    <wsdl:part element="tns:soapCarPriceResponse" name="soapCarPriceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapDeletePriceListRequest">
    <wsdl:part element="tns:soapDeletePriceListRequest" name="soapDeletePriceListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ScheduleServicePort">
    <wsdl:operation name="soapAddPrice">
      <wsdl:input message="tns:soapAddPriceRequest" name="soapAddPriceRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarAvailability">
      <wsdl:input message="tns:soapCarAvailabilityRequest" name="soapCarAvailabilityRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarAvailabilityResponse" name="soapCarAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapAddPriceList">
      <wsdl:input message="tns:soapAddPriceListRequest" name="soapAddPriceListRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapAddCarPriceList">
      <wsdl:input message="tns:soapAddCarPriceListRequest" name="soapAddCarPriceListRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarRatingsAndComments">
      <wsdl:input message="tns:soapCarRatingsAndCommentsRequest" name="soapCarRatingsAndCommentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarRatingsAndCommentsResponse" name="soapCarRatingsAndCommentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarPhysical">
      <wsdl:input message="tns:soapCarPhysicalRequest" name="soapCarPhysicalRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarPhysicalResponse" name="soapCarPhysicalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soap">
      <wsdl:output message="tns:soapResponse" name="soapResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapDeletePrice">
      <wsdl:input message="tns:soapDeletePriceRequest" name="soapDeletePriceRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCartBundle">
      <wsdl:input message="tns:soapCartBundleRequest" name="soapCartBundleRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarRating">
      <wsdl:input message="tns:soapCarRatingRequest" name="soapCarRatingRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarRatingResponse" name="soapCarRatingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCartUnbundle">
      <wsdl:input message="tns:soapCartUnbundleRequest" name="soapCartUnbundleRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCartAddCar">
      <wsdl:input message="tns:soapCartAddCarRequest" name="soapCartAddCarRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarPrice">
      <wsdl:input message="tns:soapCarPriceRequest" name="soapCarPriceRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarPriceResponse" name="soapCarPriceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapDeleteCarPriceList">
      <wsdl:input message="tns:soapDeleteCarPriceListRequest" name="soapDeleteCarPriceListRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapDeletePriceList">
      <wsdl:input message="tns:soapDeletePriceListRequest" name="soapDeletePriceListRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScheduleServicePortSoap11" type="tns:ScheduleServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="soapAddPrice">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapAddPriceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarAvailability">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarAvailabilityRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapAddPriceList">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapAddPriceListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapAddCarPriceList">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapAddCarPriceListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarRatingsAndComments">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarRatingsAndCommentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarRatingsAndCommentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarPhysical">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarPhysicalRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarPhysicalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soap">
      <soap:operation soapAction=""/>
      <wsdl:output name="soapResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapDeletePrice">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapDeletePriceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCartBundle">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCartBundleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarRating">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarRatingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarRatingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCartUnbundle">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCartUnbundleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCartAddCar">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCartAddCarRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapCarPrice">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarPriceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarPriceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapDeleteCarPriceList">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapDeleteCarPriceListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="soapDeletePriceList">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapDeletePriceListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleServicePortService">
    <wsdl:port binding="tns:ScheduleServicePortSoap11" name="ScheduleServicePortSoap11">
      <soap:address location="http://localhost:8084/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>