KT1/CarService/src/main/resources/wsdl/scheduleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.student.com/scheduleservice/soap/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.student.com/schedulerservice/soap/contract" targetNamespace="http://www.student.com/schedulerservice/soap/contract">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.student.com/scheduleservice/soap/contract" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.student.com/scheduleservice/soap/contract">
        
	<xs:complexType name="StatusType">
    	<xs:sequence>
        	<xs:element name="success" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
           
 	<!--xs:element name="soapResponse">
 		<xs:complexType>
 			<xs:complexContent>
        		<xs:extension base="tns:StatusType"/>
			</xs:complexContent>
		</xs:complexType>
    </xs:element-->
    
    <xs:element name="soapCarRatingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name="soapCarRatingResponse">
        <xs:complexType>
        	<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>
                		<xs:element name="rating" type="xs:int"/>
            		</xs:sequence>
            	</xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
	<xs:element name="soapNamedObjectsResponse">
		<xs:complexType>
			<xs:complexContent>
        		<xs:extension base="tns:StatusType">
            		<xs:sequence>
                		<xs:element name="namedObjects">
							<xs:complexType>
            					<xs:sequence>
                					<xs:element maxOccurs="unbounded" minOccurs="1" name="namedObject">
                						<xs:complexType>
                							<xs:sequence>
                								<xs:element name="id" type="xs:int"/>
                								<xs:element name="name" type="xs:string"/>
                							</xs:sequence>
                						</xs:complexType>
                					</xs:element>
           						</xs:sequence>
        					</xs:complexType>	
                		</xs:element>
            		</xs:sequence>
            	</xs:extension>
        	</xs:complexContent>	
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="soapNamedObjectsResponse">
    <wsdl:part element="sch:soapNamedObjectsResponse" name="soapNamedObjectsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRatingResponse">
    <wsdl:part element="sch:soapCarRatingResponse" name="soapCarRatingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="soapCarRatingRequest">
    <wsdl:part element="sch:soapCarRatingRequest" name="soapCarRatingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ScheduleServicePort">
    <wsdl:operation name="soapNamedObjects">
      <wsdl:output message="tns:soapNamedObjectsResponse" name="soapNamedObjectsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarRating">
      <wsdl:input message="tns:soapCarRatingRequest" name="soapCarRatingRequest">
    </wsdl:input>
      <wsdl:output message="tns:soapCarRatingResponse" name="soapCarRatingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScheduleServicePortSoap11" type="tns:ScheduleServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="soapNamedObjects">
      <soap:operation soapAction=""/>
      <wsdl:output name="soapNamedObjectsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soapCarRating">
      <soap:operation soapAction=""/>
      <wsdl:input name="soapCarRatingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="soapCarRatingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleServicePortService">
    <wsdl:port binding="tns:ScheduleServicePortSoap11" name="ScheduleServicePortSoap11">
      <soap:address location="http://localhost:8084/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>